html{
	height: 100%;
	/* display: block; */
/* 	background-color: #2EFEF7; */
	background: linear-gradient(#DAECF7, #A9DBFA, #3497D4, #07466E);
	background: url("faucet_background.png") no-repeat;   /* VN: correct this */
	background-size: 100%;
}

body {
	font-family: verdana, sans-serif; 
	font-size:0.8em;
	color: #113952; 


}

header, section, footer, aside, nav, main, article, figure, article {
    display: block;
}

#container{
	width: 100%;
	display: block;
}

a {
	color: #9DD3F5; 
}


.temp-container {
   height: 10em;
   overflow-y: scroll; 
}

.temp-title {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

/* currently not working in FF */
@import url("temperature-styles.css");
@import url("faucet-styles.css");
	

