#TemperatureDetail{
	float: left;
	/* width: 40%; */
    width: 35%
}

ul {
	padding:5px;
	list-style-type: none;
	background-color: #FFFFFF;
	/*width: 50% */
    width: 90%
}

ul li {
	margin:5px;
	text-decoration: bold;
}

ul li.good {
	color: green;
}

ul li.error, ul li.danger {
	color: red;	
}

ul li.warning {
	color: orange;
}

div#legend-key{
    width: 20%;
	padding: 5px;	
    border: 2px solid black;
	background-color: #FFFFFF;
}

div#legend-key .legend-title{
	text-align: center;
}

div#legend-key  div{		
	display: inline; 
}

div#legend-key div.legend-good-box{
    border: 5px solid green;
}

div#legend-key div.legend-warning-box{
    border: 5px solid orange;
}

div#legend-key div.legend-danger-box{
    border: 5px solid red;
}

